<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Game</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [hidden]="!loggedIn()" class="nav-link" href="#">Characters</a>
      </li>
      <li class="nav-item active">
        <a [hidden]="!loggedIn()" class="nav-link" href="#">Fights</a>
      </li>
      <li class="nav-item active">
        <a [hidden]="!loggedIn()" class="nav-link" href="#">Items</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account Settings
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Options</a>
        <a (click)="logOut()" class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log out</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" [(ngModel)]="model.username" name="username" required>
      <input class="form-control mr-sm-2" type="password" placeholder="Password" [(ngModel)]="model.password" name="password" required>
      <button [disabled]="!loginForm.valid" class="btn btn-secondary my-2 my-sm-0" type="submit">Log in</button>
    </form>
</nav>
